.fish{
    .title{
        border: 5px #333;
        font-size: 50px
    }
    ul{
        list-style: none;
        li{
            a{
                margin: 10px;
                padding: 15px;
                min-height: 140px;
                display: flex;
                align-items: center;
                background-color: #fff;
                border: solid 3px #cfcac7;
                color: #000;
                text-decoration: none;
                align-content: center;
                img{
                    height: 100px;
                    width: auto;
                }
                dl{
                    margin-left: 40px;
                    dt{
                        font-size: 30px;
                    }
                    dd{
                        text-align: left;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}