body{
    background-color: aqua;
}
.title{
    font-size: 80px;   
}
.main{
    background-color: #fff;
    margin: 0px 3%;
    .profile{
        margin: 0;
        .name{
            font-size: 80px;
            text-align: center;
            .fig{
                display: flex;
                ul{
                    font-size: 20px;
                    list-style: none;
                    text-align: left;
                    li{
                        border-bottom: 10px #333;
                    }
                }
                .img{
                    height: auto;
                    width: 80%;
                    margin-left: auto;
                }
            }
        }
    }
}

