@media screen and (max-width:768px){}

// base/////////////////////////////////////////////////////////////////////////////
body{
    font-size: 15px;
    line-height: 1.5;
    color: #333;   
    font-family: "M PLUS 1p","Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
label,input,textarea,select,button{
    cursor: pointer;
}

// message//////////////////////////////////////////////////////////////////////
.error{
    color: tomato;
    background-color: tomato;
    opacity: 0.6;
    color: rgb(59,0,0);
}

.message{
    background-color: aquamarine;
    opacity: 0.4;
    color: darkgreen;
}

//main/////////////////////////////////////////////////////////////////////////////
.hero{
    background-image: url('/images/hero3.jpg');
    background-size: cover; /* 画像をコンテナに合わせてカバーする */
    background-repeat: no-repeat; /* 画像を繰り返ししない */
    height: 800px; /* 要素の高さ */
    display: flex;
    h1{
        color: #333;
        font-weight: 700;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size:140px;
        margin-left: 50px;
        -webkit-text-stroke: 2px #ffff;
    }
    img{
        height: 550px;
        width: auto;
        justify-content: center;
        margin-left: 50px;
        margin-top: 150px;
    }
}
@media screen and (max-width:768px){
    .hero{
        display: block;
        height: 300px;
        h1{
            font-size:60px;
            -webkit-text-stroke: 1px #ffff;
        }
        img{
            height: 120px;
            width: auto;
            margin-left: auto;
            margin-right: 5%;
            margin-top: -10px;
        }
    }
}

.select{
    display: flex;
    font-size: 50px;
    text-align: center;
    .button{
        margin: 20px 50px;
        // width: auto;
        .flesh{
            img{
                height: 130px;
                transition: all 0.2s;
                &:hover{
                    transform: translate(80px,0px);
                }
            }
        }
        .sea{
            img{
                height: 190px;
                transition: all 0.2s;
                &:hover{
                    transform: translate(80px,0px);
                }
            }
        }
        .brackish{
            img{
                height: 160px;
                transition: all 0.2s;
                &:hover{
                    transform: translate(80px,0px);
                }
            }
        }
    }
}

//レスポンシブ
@media screen and (max-width:768px){
    .select{
        display: block;
        font-size: 20px;
        .button{
            margin: 20px 50px;
            .flesh{
                img{
                    height: 80px;
                }
            }
            .sea{
                img{
                    height: 130px;
                }
            }
            .brackish{
                img{
                    height: 120px;
                    }
            }
        }
    }
}
.link{
    .registration{
        font-size: 30px;
        margin: 0 auto;
        padding: 5px 15px;
        display: block;
        background-color: #333;
        color: #ffff;
        border-radius: 10px;
        box-shadow: 5px;
        transition: all 0.2s;
        &:hover{
            font-size: 35px;
        }
    }
}

footer{
    margin-top: 20px;
    background-color: #333;
    small{
        color: #ffff;
    }
}