// base/////////////////////////////////////////////////////////////////////////////
body{
    font-size: 15px;
    line-height: 1.5;
    color: #333;   
    font-family: "M PLUS 1p","Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
label,input,textarea,select,button{
    cursor: pointer;
}

// message//////////////////////////////////////////////////////////////////////
.error{
    color: tomato;
}

.flash_message{
    background-color: aquamarine;
    opacity: 0.4;
    color: darkgreen;
}

.flash_error_message{
    background-color: tomato;
    opacity: 0.6;
    color: rgb(59,0,0);
}
///////////////////////////////////////////////////////////////////////////////
.hero{
    background-image: url('/images/hero1.jpg');
    background-size: cover; /* 画像をコンテナに合わせてカバーする */
    background-repeat: no-repeat; /* 画像を繰り返ししない */
    height: 800px; /* 要素の高さ */

    display: flex;
    h1{
        color: #333;
        font-weight: 700;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size:140px;
        margin-top: 50px;
        margin-left: 50px;
        -webkit-text-stroke: 2px #ffff;
    }
    img{
        height: 550px;
        width: auto;
        transform: translate(100px,160px);
    }
}

a{
    text-decoration: none;
    font-size: 50px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.select{
    display: flex;
    
    .button{
        margin: 20px 50px;

        .flesh{
            img{
                height: 130px;
                width: auto;
            }
        }
        .see{
            img{
                height: 190px;
                width: auto;
            }
        }
        .brackish{
            img{
                height: 160px;
                width: auto;
                }
        }
    }
}

.registration{
    display: block;
    text-align: center;
    background-color: #333;
    color: #ffff;
    border-radius: 10px;
    box-shadow: 5px;
    // width: 120px;
    margin: 20px 630px;
}


footer{
    background-color: #333;
    small{
        color: #ffff;
    }
}

// registration/////////////////////////////////////////////////////

.title-r{//登録の文字
    font-size: 50px;
    text-align: center;
}

.form{
    font-size: 20px;

    .table{//登録フォーム全体
        margin: 0 auto;
        border: 2px solid #7f94af;
        td{
            padding: 20px;

            .input{//テキストボックス
                min-width: 300px;
                padding: 5px;
                border-radius: 10px;
            }
            .radio{//ラジオ全体
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                
                .radio-input,
                .radio-label {
                    display: inline-block;
                    margin-right: 15px;
                }
            }
            textarea{//テキストエリア
                min-width: 300px;
                min-height: 100px;
                border-radius: 10px;
            }
        }
        // .pull{}
    }
}

.button{//ボタン
    margin-top: 20px;
    text-align: center;
    .reg{
        color: #ccc;
        font-size: 30px;
        font-weight: bold;
        background-color: #333;
        border-radius: 10px;
    }
}

// list///////////////////////////////////////////////////////////

.container{
    
}
.fish{
    .title{
        border: 5px #333;
        font-size: 50px
    }
    ul{
        list-style: none;
        li{
            a{
                margin: 10px;
                padding: 15px;
                min-height: 140px;
                display: flex;
                align-items: center;
                background-color: #fff;
                border: solid 3px #cfcac7;
                color: #000;
                text-decoration: none;
                align-content: center;
                img{
                    height: 100px;
                    width: auto;
                }
                dl{
                    margin-left: 40px;
                    dt{
                        font-size: 30px;
                    }
                    dd{
                        text-align: left;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}